.container {
    width: 1400px;
    margin: 0 auto;
}

main {
    background: #eeeeef;
}

.header {
    &__container {
        position: fixed;
        width: 1400px;
        z-index: 1000;
    }

    &__container_menu {
        display: flex;
        justify-content: space-between;
        padding: 16px 52px;
        background: #10BBD5;
    }

    &__container_categories {
        display: flex;
        justify-content: space-between;
        background: #FFFFFF;
        padding: 4px 52px 4px 52px;   
    }

    &__box {
        @include font;
        color: $base-color;
        display: flex;
        align-items: center;
        border: 0;
        background: 0;
        padding: 0;
    }

    &__box-img {
        padding-left: 8px;
    }

    &__logo {
        display: flex;
        align-items: center;
    }

    &__logo-text {
        color: $base-color;
        padding-left: 4px;
        font-size: 24px;
        font-weight: 700;
    }

    &__category {
        display: flex;
        gap: 40px;
    }
    &__categories {
        padding: 4px 52px;
        background: #FFFFFF;
    }
}

