.menu {
    &__items {
        padding: 32px 52px;
        padding-bottom: 120px;
        position: relative;
    }

    &__items-text {
        font-size: 32px;
        font-weight: 600;
        line-height: 40px;
        color: #1F1F1F;
        padding-bottom: 23px;
        border-bottom: 1px solid $primary-colour;
    }

    &__product-cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;
        padding-top: 24px;
    }
}

.product-card {
    position: relative;
    box-sizing: border-box;
    padding: 32px;
    background: $base-color;
    border: 1px solid $primary-colour;
    width: 306px;

    &__img {
        position: relative;
        box-sizing: border-box;
        padding: 32px;
        background: $base-color;
        border: 1px solid $primary-colour;
        width: 306px;

        &_wrapper {
            padding-bottom: 16px;
            display: block;
            text-align: center;

            .wrapper__picture {
                width: 178px;
            }
        }
    }

    &__wrapper-discount {
        @include font;
        position: absolute;
        top: 32px;
        left: 32px;
    }

    &__marker {
        color: #ffffff;
        background: #4200FF;
        border-radius: 4px;
        padding: 4px 8px;
        display: inline-block;

        &--discount {
            background: #EA33C0;
            display: inline-block;
            border-radius: 4px;
            padding: 4px 8px;
        }

        &--new {
            background: #AF39E7;
            display: inline-block;
            border-radius: 4px;
            padding: 4px 8px;
        }
    }

    &__button {
        color: $base-color;
        @include font;
        background: #4C394E;
        display: block;
        width: 100%;
        padding-block: 8px;
        border-radius: 4px;
        border: none;

        &--active {
            background: #4D762D;
        }
    }

    &__description {
        @include font;
        color: $secondary-color;
        padding-bottom: 8px;
    }

    &__title {
        color: #1F1F1F;
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        border-bottom: 1px solid $primary-colour;
    }

    &__price {
        padding-bottom: 16px;
        color: #E90000;
        font-size: 24px;
        line-height: 32px;
        display: inline-block;
    }
}

.category {
    &__content {
        @include font;
        color: #000000;
    }
}

.div-bolt {
    height: 106px;
}

.marker-gap {
    left: 86px;
}

.price-discount {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: $secondary-color;
    text-decoration: line-through;
    padding-left: 24px;

}

.button-chat {
    position: fixed;
    top: 592px;
    right: 28px;
    background: none;
    border: 0;
    z-index: 1000;
    padding: 0;
}